<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A dedicated app for low-skilled jobs</h2>
                <hr class="light">
                <p class="text-faded">Easily create your profile and list yourself up for work without paying a commision.Find low-skilled workers without hassle or delays from the pool of verified profiles.
            Find low-skilled jobs for both short-term household work or long term projects. Free standard services ensure quality profiles.</p>
                <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
            </div>
        </div>
    </div>
</section>
