<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size: 60px;">The best app for finding low-skilled jobs and workers</h1>
            <hr>
            <p>Easily create your profile and list yourself up for work without paying a commision.<br>Find low-skilled workers without hassle or delays from the pool of verified profiles.</p>
            <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
        </div>
    </div>
</header>
