<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <h1 style="font-size: 80px !important; margin-bottom: 20px !important;"><span class="highlight-container"><span class="highlight">JobBook</span></span></h1>
                <p style="color: black !important;"><span class="highlight-container"><span class="highlight">The best app for finding low-skilled jobs and workers!</span></span></p>
                <a class="btn btn-google" href="#" title="Google Play">Google Play</a>
            </div>    
        </div>
    </div>
</header>
